<% app_name = Cequel::Record::Railtie.app_name -%>
development:
  host: '127.0.0.1'
  port: 9042
  keyspace: <%= app_name %>_development
  max_retries: 3
  retry_delay: 0.5
  newrelic: false

test:
  host: '127.0.0.1'
  port: 9042
  keyspace: <%= app_name %>_test
  max_retries: 3
  retry_delay: 0.5
  newrelic: false

production:
  hosts:
    - 'cass1.<%= app_name %>.biz'
    - 'cass2.<%= app_name %>.biz'
    - 'cass3.<%= app_name %>.biz'
  port: 9042
  keyspace: <%= app_name %>_production
  username: 'myappuser'
  password: 'password1'
  max_retries: 3
  retry_delay: 0.5
  newrelic: true
  replication:
    class: SimpleStrategy
    replication_factor: 1
# replication:
#   class: NetworkTopologyStrategy
#   datacenter1: 3
#   datacenter2: 2
# durable_writes: false
